notebook tab label {
    color: black;
    background-color: #ffff99;
}

notebook tab{
    border-radius: 12px;
    background-color: #ffff99;
}

notebook header{
    background-color:#ffff99;
}

notebook button{
    border-color: Silver;
    border-radius: 12px;
    background-image: none;
    background-color: Silver;
    color: black;
}

entry{
    background-color: gainsboro;
    border-radius: 8px;
    color: gray;
}

