notebook tab label {
  color: black;
}

notebook tab {
  border-radius: 12px;
  background-color: #b8d8d8;
}

notebook header {
  background-color: #b8d8d8;
}

notebook button {
  border-color: #000000;
  border-radius: 12px;
  background-image: none;
  color: black;
  font-weight: bold;
}

notebook stack {
  background-color: #7a9e9f;
}

entry {
  background-color: gainsboro;
  border-radius: 8px;
  color: gray;
}
