notebook tab:nth-child(1) label {
  color: #ffffff;
}
notebook tab:nth-child(2) label {
  color: #ffffff;
}
notebook tab:nth-child(3) label {
  color: #ffffff;
}
notebook tab:nth-child(4) label {
  color: #ffffff;
}
notebook tab:nth-child(5) label {
  color: #ffffff;
}
notebook tab:nth-child(6) label {
  color: #ffffff;
}
